.self-input {
    display: inline-block;
    width: 200px;
    margin-right: 20px;
}
.self-text {
    display: inline-block;
    width: 70px;
}
.self-table-container {
    margin-top: 20px;
}
.self-table-container td,
.self-table-container th > div {
    text-align: center;
}
.img-container {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-avatar {
    height: 80px;
}
.self-form .info-text {
    display: inline-block;
    text-align: right;
    width: 80px;
    margin-right: 10px;
}
.self-form > .ant-form-item {
    margin-bottom: 0;
}
