.self-input {
    display: inline-block;
    width: 200px;
    margin-right: 20px;
}
.self-text {
    display: inline-block;
    width: 70px;
}
.self-table-container {
    margin-top: 20px;
}
.self-table-container td,
.self-table-container th > div {
    text-align: center;
}
.modal-form-span {
    display: inline-block;
    width: 60px;
    margin-right: 18px;
    text-align: right;
}